<div class="link-produto">
    <h3>Produtos</h3>
    <a href="../public/produto/buscar_produto_serial.php">Buscar produto pelo serial</a><br><br>
    <a href="../public/produto/cadastro_produto.php">Cadastrar produto</a><br><br>
    <a href="../public/produto/listar_produtos.php">listar produtos</a><br><br>
</div>

<div class="link-nfe">
    <h3>Nota fiscal</h3>
    <a href="../public/nota_fiscal/cadastro_nfe.php">Cadastrar nota fiscal</a><br><br>
    <a href="../public/nota_fiscal/listar_nfe.php">Lista nota fiscal</a><br><br>
</div>